extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						//-th ID
						th(style="text-align:center;") 电影名字
						th(style="text-align:center;") 导演
						th(style="text-align:center;") 国家
						th(style="text-align:center;") 上映年份
						th(style="text-align:center;") 录入时间
						th(style="text-align:center;") 查看
						th(style="text-align:center;") 更新
						th(style="text-align:center;") 删除
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							//- td #{item._id}
							td(style="text-align:center;") #{item.title}
							td(style="text-align:center;") #{item.doctor}
							td(style="text-align:center;") #{item.country}
							td(style="text-align:center;") #{item.year}
							td(style="text-align:center;") #{moment(item.meta.createdAt).format('YYYY/MM/DD')}
							td(style="text-align:center;"): a(target="_blank",href="../movie/#{item._id}") 查看
							td(style="text-align:center;"): a(target="_blank",href="../admin/update/#{item._id}") 修改
							td(style="text-align:center;")
								button.btn.btn-danger.btn-xs.del(type="button",data-id="#{item._id}") 删除
	script(src="/js/admin.js")